@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    margin: 0;
}
.body{
    width: 90%; 
    margin: auto;
}
.body1{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background:url(background-trial.jpg);
    background-size: 1500px;
    position: relative;
}
.ab1{
    
    width: 20px;
    position:relative;
    padding-left: 100px;
    padding-top: 100px;
}
.text{
    position: absolute;
    top: 100px;
    left:130px;
}
.para1{
    top: 160px;
    left:130px;
    width:16.5%;
    position:absolute;
}
.logo1{
    position: absolute;
    top: 550px;
    left:200px;
}
.logo1:hover
{
    background-color:rgb(55, 55, 116);
}
.logo2{
    position: absolute;
    top: 550px;
    left: 230px; ;
}
.logo2:hover{
    background-color: rgb(55, 55, 116);
}
.logo3{
    position:absolute;
    top:550px;
    left:260px;
}
.logo3:hover{
    background-color: rgb(55, 55, 116);
}

.ab2{
    top:0px;
    left:700px;
    width:20px;
    position:relative;
    padding-left: px;
    padding-top: 100px;
}
.text1{
    position: absolute;
    top: 700px;
    left:730px;
}
.para2{
    top: 760px;
    left:730px;
    width:16.5%;
    position:absolute;
}

header{
   margin: 0;
    top: 0px;
    left: 0px;
    right: 0;
    width: 90.15%;
    padding: 0px 50px 0px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:10px 10px 20px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
header a{
    text-decoration: none;
    color: rgb(0, 0, 0);  
    
}
header ul{
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
    
}
header.sticky{
        position: fixed;
        top: 0;
        width: 91.1%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow:10px 10px 20px rgb(0, 0, 0);
}

header ul li{
    position: relative;
    width: auto;
    vertical-align: middle;
    list-style:none;
    color: white;
    padding: 0px 10px 0px 10px;
    margin:5px;
}
header ul li a{
    position: relative;
    display: block;
    height: 100%;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    align-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header.sticky ul li a{
    color: rgb(0, 0, 0);
}
header ul li a:hover{
background-color: rgb(65, 60, 60);
color: rgb(255, 255, 255);
}
header.sticky .logo{
    color: rgb(0, 0, 0);
}
.logo{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.img1{
    border-radius: 50%;
    top:750px;
    left:1030px;
    position:absolute;
}
.img3
{
    border-radius:50%;
    top:170px;
    left:430px;
    position:absolute;
}