.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

header {

    top: 0px;
    left: 0px;
    right: 10px;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    background-color: black;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
.logo{
    font-size: 25px;
}
header ul {
    position: relative;
    display: flex;
    color: white;
}

header ul li {
    position: relative;
    list-style: none;
    color: white;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    color: white;
    text-decoration: none;

}